* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.image {
  text-align: center;
}

.image video {
  width: 90%;
}

.main {
  margin-top: 10%;
  margin-bottom: 20%;
  text-align: center;
}



.button04 a {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: .5em 1em;
    width: 400px;
    color: #ffffff;
    font-size: 50px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    font-family: serif;
    text-decoration: none;
  }
  
  
  
  .button04 a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #505050;
  }
  
  .button04 a:hover::after {
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
  }